<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>


<h1><%= @user.username%></h1>
<%= link_to "Sign in", login_form_url%>

<h2>Please confrim</h2>
<p>Thank for your Registration</p>

<h5>
Here are some quick tips for a first-time organization member.</h5>

<h4>Follow the link to Invite your Invitees</h4>
<p>Have a good day :)</p>
</body>