<!DOCTYPE html>
<html>
<head>
  <title>EventsSchedules</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>

</br>
</br>

<%= yield %>

</br></br></br></br></br>
<hr>
<hr>
      <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
          <h3>Subcribe</h3>
          <p><textarea rows="1" cols="18" placeholder="Email"></textarea></p>
          <a class="btn btn-primary" href="#" role="button">SUBMIT</a>
         </div>
         <div class="col-sm-3">
         <p>&copy; 2016 Company, Inc.</p>
         <p>&middot;<a href="#">Privacy</a></p>
         <p>&middot;<a href="#">Terms of use</a></p>
         <p>&middot;<a href="#">Whats new?</a></p>
         <h4> Time square,Manhattan,New york</h4>
         </div>
     
        </div>
      </div>
      </footer>

      
</body>
</html>
